.userImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.userName {
    font-weight: bold;
    font-size: 18px;
}

.userName:hover {
    color: #00f156;
}

.descPost {
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0;
}

.tagFlor {
    background-color: lightgreen;
    border: 1px solid darkgreen;
    border-radius: 20px;
    padding: 5px 20px;
}

.textFlor {
    color: darkgreen;
    text-decoration: none;

}

.datePost {
    color: grey;
    font-size: 12px;
    font-style: italic;
}