.floraMas {
    font-size: 5rem;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.headerMain {
    background-image: url('https://nurturedinnorfolk.co.uk/wp-content/uploads/2022/02/viola-edible-flowers.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.linkHeader {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 6px 10px;
    border-radius: 20px;
    background-color: green;

    font-family: 'Times New Roman', Times, serif;

}

.linkHeader:hover {
    background-color: white;
    color: rgb(67, 230, 67);
}


/* --------------------- */
.InputBuscador {
    background-color: lightgreen;
    border-radius: 20px;
}

.buscadorBotton {
    text-decoration: none;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 2px;
    border-radius: 10px;
}

.imgSearch {
    height: 12rem;
    width: 100%;
}

.tituloFlorSearch {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: green;
}

.tituloFlorSearch:hover {
    color: lightgreen;
}

/* ------------ */
.imgBlog {
    height: 300px;
}

.tituloFlor {
    font-size: 2rem;
    font-weight: bold;
}

/* estilo blog */

/* para que tenga animacion (transition) y de base no se va (max-height 0) */
#checkbox-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}